<!DOCTYPE html>
<html>
    <head>
        <title>Wikipedia Analytics</title>
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/style.css" />

    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand">Wikipedia Analytics</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">

                    <% if(user){ %>
                        <li class="nav-item active" >
                            <a class="nav-link" href="/">Landing Page</a>
                        </li>
                        <li class="nav-item active" >
                            <a class="nav-link" href="/overall-plot">Overall</a>
                        </li>
                        <li class="nav-item active">
                        <a class="nav-link" href="/individual">Individual</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="/author">Author</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/resetpassword">Reset Password</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% }else{ %>
                        <li class="nav-item active" >
                            <a class="nav-link" href="/">Landing Page</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/resetpassword-nologin">Reset Password</a>
                        </li>
                    <% } %>
              </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-12">
                <div class="container"><%- body %></div>
            </div>

        </div>

        <footer class="footer">
            <p>&copy; 2020 S1 COMP5347 Group 17</p>
        </footer>


    </body>
</html>