<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Wikipedia Analytics</h1>
        <p>This website aims to provide a thorough analysis on a series of Wikipedia articles.</p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Overall Analytics</h2>
          <p>In this section, an overall analysis on the Wikipedia articles is given. A number of comprisons between different articles are represented visually. Below is an example of the analysis outcome. </p>
        </div>
        <div class="col-md-4">
          <h2>Individual Analytics</h2>
          <p>An analysis on the given article will be analysed based on the user's selection. For example, for the selected article, the top five user ranked by total revision number will be displayed. </p>
          
        </div>
        <div class="col-md-4">
          <h2>Author Analytics</h2>
          <p>In this section, an analysis on author related data has been performed. For example, all articles that are changed (or have revisions made) by a specific author. Below is an example of the analysis outcome. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="img_l" src="images/overall.jpg" width="300" height="300" > 
        </div>
        <div class="col-md-4">
          <img class="img_l" src="images/Individual.jpg" width="300" height="300" > 
        </div>
        <div class="col-md-4">
          <img class="img_l"src="images/Author.jpg" width="300" height="300" > 
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>